.container {

    @include container;

}

.masthead {

    padding-top: $grid-line-height * 2;
    margin-bottom: $grid-line-height * 2;
    position: relative;

    &:before {

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70%;
        background: $canvas-color;
        z-index: 0;

    }

    .branding {

        text-align: center;
        padding: 0 ( $grid-gutter ) ( $grid-line-height * 2 ) ( $grid-gutter );
        position: relative;

        h1 {

            @include modular-scale( gamma );
            margin: 0;
            display: inline-block;

            span {

                font-weight: bold;

            }

        }

        img {

            max-height: 2.5rem;
            margin-right: $grid-gutter / 2;
            display: inline-block;
            vertical-align: sub;

        }

        p {

            margin: 0;

            &.sub {

                @include post-meta-data;

            }

        }

    }

    .banner {

        background: $canvas-white;
        padding: ( $grid-line-height * $grid-line-height-multiplier ) $grid-gutter;
        box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
        z-index: 1;
        position: relative;
        width: 60%;
        margin: 0 auto;

        h2 {

            @include modular-scale( delta );

        }

        .newsletter {

            margin-bottom: $grid-line-height * -2.5;
            padding-top: $grid-line-height;

            input[type=submit] {

                margin: 0;
                width: 100%;

            }
        }

    }

}

.content {

    padding: ( $grid-line-height * 2 ) 10%;
    @include modular-scale( epsilon );
    @include container;
    clear: both;

}

hr {

    max-width: $grid-gutter;
    border-width: 3px;
    border-color: $canvas-red;

}

.intro {

    .newsletter {

        padding-top: $grid-line-height * $grid-line-height-multiplier;

    }

}

.newsletter {

    @include modular-scale( zeta );

    label {

        span {

            display: block;
            z-index: 10;
            position: relative;
            padding: 0 ( $grid-gutter / 4 );
            width: 5em;
            text-align: right;
            height: 0;
            transform: translateY( $grid-line-height / 2 );

        }

    }

    input[type=text],
    input[type=email] {

        font-weight: normal;
        padding-left: 5em;

    }

}

.about-us {

    padding-top: $grid-line-height * 2;
    padding-bottom: $grid-line-height * 2;

    h2 {

        text-align: center;
        margin-bottom: $grid-line-height * 2;

    }

}

.people {

    background: lighten( $canvas-color, 5% );
    position: relative;
    display: flex;
    @include clear;

    .person {

        padding: ( $grid-line-height * 3 ) 10%;
        width: 50%;
        float: left;

        &:nth-child( 2 ) {

            background: $canvas-color;

        }

        strong {

            @include modular-scale( epsilon );
            display: block;
            margin-bottom: $grid-line-height / 2;
            margin-right: $grid-gutter * -1.25;
            transform: translateX( $grid-gutter * -1.25 );

            &:before {

                display: inline-block;
                content: '';
                border-bottom: $border-width solid $body-copy-color;
                width: $grid-gutter;
                vertical-align: middle;
                margin-right: $grid-gutter / 4;

            }

        }

        img {

            max-width: 8rem;
            float:left;
            margin: ( -0.5 * $grid-line-height ) ( 0.5 * $grid-gutter ) ( 0.5 * $grid-line-height ) ( -0.5 * $grid-gutter );
            //transform: rotate( -6deg );

        }

    }

}

.lessons {

    list-style-type: none;
    margin: 0;
    padding: 0;

    svg {

        display: inline-block;
        width: 64px;
        height: 64px;
        margin-right: $grid-gutter / 2;
        vertical-align: middle;
        color: $canvas-red;
        stroke-width: 1px;
        stroke-linejoin: round;
        stroke-linecap: round;

    }

    li {

        clear: both;
        padding: ( $grid-line-height / 2 ) 0;

    }

}

footer {

    background: $canvas-grey-10;
    padding-bottom: $grid-line-height * 3;

    .copyright {

        @include post-meta-data;
        text-align: center;

    }

}
